@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .key-focus {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-yellow-500 focus-visible:ring-offset-2 focus-visible:dark:ring-yellow-600;
  }

  .key-focus-section {
    @apply ring-offset-white dark:ring-offset-zinc-800;
  }

  .key-focus-body {
    @apply ring-offset-zinc-100 dark:ring-offset-zinc-900;
  }
}

:root {
  /* colors */
  --gold-rgb: 204 136 41;
  --pyro-rgb: 255 92 92;
  --hydro-rgb: 61 158 255;
  --dendro-rgb: 140 185 27;
  --electro-rgb: 227 104 227;
  --anemo-rgb: 100 206 167;
  --cryo-rgb: 87 203 203;
  --geo-rgb: 220 153 59;

  /* scrollbar */
  --scrollbar-thumb: rgb(161, 161, 170);
  --scrollbar-thumb-hover: rgb(113, 113, 122);
  --scrollbar-track: rgba(0, 0, 0, 0.15);
}

html.dark {
  /* colors */
  --gold-rgb: 255 215 128;
  --pyro-rgb: 255 153 153;
  --hydro-rgb: 128 192 255;
  --dendro-rgb: 179 234 42;
  --electro-rgb: 255 172 255;
  --anemo-rgb: 128 255 215;
  --cryo-rgb: 153 255 255;
  --geo-rgb: 255 230 153;

  /* scrollbar */
  --scrollbar-thumb: rgb(63, 63, 70);
  --scrollbar-thumb-hover: rgb(39, 39, 42);
  --scrollbar-track: rgba(255, 255, 255, 0.2);
}

/* Scrollbar Styles */
html {
  /* both properties are for firefox support */
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover,
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
  border: 1px solid rgba(128, 128, 128, 0.3);
}
