@font-face {
  font-family: "HYWenHei-85W";
  src: url("./fonts/ja-jp.woff2") format("woff2"),
    url("./fonts/ja-jp.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .key-focus {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-yellow-500 focus-visible:ring-offset-2 focus-visible:dark:ring-yellow-600;
  }

  .key-focus-section {
    @apply ring-offset-white dark:ring-offset-zinc-800;
  }

  .key-focus-body {
    @apply ring-offset-zinc-100 dark:ring-offset-zinc-900;
  }
}

:root {
  /* colors */
  /* NOTE: some light mode colors need updating */
  --gold: #f0a400;
  --pyro: #ff5c5c;
  --hydro: #3d9eff;
  --dendro: #8cb91b;
  --electro: #e368e3;
  --anemo: #2fd09a;
  --cryo: #57cbcb;
  --geo: #edad54;

  /* scrollbar */
  --scrollbar-rgb: 55, 68, 88;
  --scrollbar-opacity: 0.5;
  --scrollbar-opacity-hov: 0.7;
}

html.dark {
  /* colors */
  --gold: #ffd780;
  --pyro: #ff9999;
  --hydro: #80c0ff;
  --dendro: #b3ea2a;
  --electro: #ffacff;
  --anemo: #80ffd7;
  --cryo: #99ffff;
  --geo: #ffe699;

  /* scrollbar */
  --scrollbar-rgb: 130, 145, 170;
  --scrollbar-opacity: 0.2;
  --scrollbar-opacity-hov: 0.4;
}

/* Scrollbar Styles */
html {
  /* both properties are for firefox support */
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--scrollbar-rgb), var(--scrollbar-opacity))
    rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.scrollbar::-webkit-scrollbar-track {
  /* TODO: edit opacity on light mode */
  background: rgba(0, 0, 0, 0.15);
}

body::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(var(--scrollbar-rgb), var(--scrollbar-opacity));
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover,
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--scrollbar-rgb), var(--scrollbar-opacity-hov));
  border: 1px solid hsla(0, 0%, 50%, 0.3);
}
