@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* colors */
    --gold-rgb: 35 66.5% 48%;
    --pyro-rgb: 0 100% 68%;
    --hydro-rgb: 210 100% 62%;
    --dendro-rgb: 111 52% 57%;
    --electro-rgb: 300 68.7% 64.9%;
    --anemo-rgb: 158 52% 60%;
    --cryo-rgb: 180 52.7% 56.9%;
    --geo-rgb: 35 69.7% 54.7%;
  }

  html.dark {
    /* colors */
    --gold-rgb: 41 100% 75.1%;
    --pyro-rgb: 0 100% 80%;
    --hydro-rgb: 210 100% 75.1%;
    --dendro-rgb: 111 100% 76.7%;
    --electro-rgb: 300 100% 83.7%;
    --anemo-rgb: 161 100% 75.1%;
    --cryo-rgb: 180 100% 80%;
    --geo-rgb: 45 100% 80%;
  }
}

@layer utilities {
  .key-focus {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-blue-600 focus-visible:ring-offset-2 focus-visible:dark:ring-yellow-600;
  }

  .key-focus-section {
    @apply ring-offset-white dark:ring-offset-zinc-800;
  }

  .key-focus-body {
    @apply ring-offset-zinc-100 dark:ring-offset-zinc-900;
  }
}
