@import "tailwindcss";

@layer base {
  :root {
    --genshin-brown: 39 34% 89%;
    --genshin-blue: 221 16% 35%;

    --icon-green: 87 77% 48%;
    --icon-red: 0 99% 68%;

    --ring: 240 5.9% 10%;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --section: 0 0% 100%;
    --section-foreground: 240 10% 3.9%;

    --card: var(--genshin-brown);
    --card-foreground: var(--genshin-blue);

    --sheet: 212 25% 20%;
    --sheet-border: 210 17% 24%;
    --sheet-btn-border: 212 11% 30%;
    --sheet-btn-border-selected: 39 15% 78%;

    --border: 240 5.9% 90%;

    --btn-brown: var(--genshin-brown);
    --btn-brown-foreground: var(--genshin-blue);
    --btn-brown-outline: 242 12% 56%;
    --btn-brown-hover: 41 26% 81%;
    --btn-brown-ring: 0 0% 100%;
    --btn-brown-active: 37 19% 63%;
    --btn-brown-active-foreground: 0 0% 100%;
    --btn-brown-active-ring: var(--btn-brown-active); /* transparent */

    --btn-blue: var(--genshin-blue);
    --btn-blue-foreground: var(--genshin-brown);
    --btn-blue-outline: 242 12% 56%;
    --btn-blue-hover: 218 12% 43%;
    --btn-blue-ring: 41 100% 85%;
    --btn-blue-active: 38 100% 90%;
    --btn-blue-active-foreground: 35 16% 56%;
    --btn-blue-active-ring: 43 4% 69%;

    --btn-dark: 0 0% 20%;
    --btn-dark-foreground: 0 0% 100%;
    --btn-dark-hover: 0 0% 25%;
    --btn-dark-active: 46 100% 79%;
    --btn-dark-active-foreground: 45 58% 35%;

    --primary: var(--btn-blue);
    --primary-foreground: var(--btn-blue-foreground);
    --primary-foreground-active: var(--btn-blue-active-foreground);
    --primary-active: var(--btn-blue-active);
    --primary-outline: var(--btn-blue-outline);
    --primary-hover: var(--btn-blue-hover);
    --primary-ring: var(--btn-blue-ring);
    --primary-ring-active: var(--btn-blue-active-ring);

    --secondary: var(--btn-brown);
    --secondary-foreground: var(--btn-brown-foreground);
    --secondary-foreground-active: var(--btn-brown-active-foreground);
    --secondary-active: var(--btn-brown-active);
    --secondary-outline: var(--btn-brown-outline);
    --secondary-hover: var(--btn-brown-hover);
    --secondary-ring: var(--btn-brown-ring);
    --secondary-ring-active: var(--btn-brown-active-ring);

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --radius: 0.5rem;

    /* colors */
    --gold: 35 66.5% 48%;
    --pyro: 0 100% 68%;
    --hydro: 210 100% 62%;
    --dendro: 111 52% 57%;
    --electro: 300 68.7% 64.9%;
    --anemo: 158 52% 60%;
    --cryo: 180 52.7% 56.9%;
    --geo: 35 69.7% 54.7%;
  }

  html.dark {
    --ring: 240 4.9% 83.9%;

    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --section: 24 9.8% 10%;
    --section-foreground: 0 0% 95%;

    --card: var(--genshin-brown);
    --card-foreground: var(--genshin-blue);

    --border: 240 3.7% 15.9%;

    --primary: var(--btn-brown);
    --primary-foreground: var(--btn-brown-foreground);
    --primary-foreground-active: var(--btn-brown-active-foreground);
    --primary-active: var(--btn-brown-active);
    --primary-outline: var(--btn-brown-outline);
    --primary-hover: var(--btn-brown-hover);
    --primary-ring: var(--btn-brown-ring);
    --primary-ring-active: var(--btn-brown-active-ring);

    --secondary: var(--btn-blue);
    --secondary-foreground: var(--btn-blue-foreground);
    --secondary-foreground-active: var(--btn-blue-active-foreground);
    --secondary-active: var(--btn-blue-active);
    --secondary-outline: var(--btn-blue-outline);
    --secondary-hover: var(--btn-blue-hover);
    --secondary-ring: var(--btn-blue-ring);
    --secondary-ring-active: var(--btn-blue-active-ring);

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    /* colors */
    --gold: 41 100% 75.1%;
    --pyro: 0 100% 80%;
    --hydro: 210 100% 75.1%;
    --dendro: 111 100% 76.7%;
    --electro: 300 100% 83.7%;
    --anemo: 161 100% 75.1%;
    --cryo: 180 100% 80%;
    --geo: 45 100% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply cursor-genshin bg-background text-foreground;
  }
}

@media (max-width: calc(theme("screens.sm") - 1px)) {
  .container {
    @apply px-4;
  }
}
